.player_module {
  background-image: linear-gradient(90deg, rgba(99, 99, 99, 0.1), rgba(99, 99, 99, 0.1) 1px, transparent 0, transparent), linear-gradient(90deg, hsla(0, 0%, 100%, 0.1) -20%, transparent 15%), linear-gradient(0deg, hsla(0, 0%, 100%, 0.1), transparent 25%);
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid hsla(0, 0%, 100%, 0.49411765);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px hsla(0, 0%, 100%, 0.15);
}
#CorePlayer {
  position: fixed;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
}
#CoreWrapper {
  display: flex !important;
  font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 400px;
  height: 120px;
  color: #fff;
  transition: background-color 0.5s, box-shadow 0.5s, left 0.4s, transform 0.4s;
}
#CoreWrapper:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#CoreWrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#CoreWrapper.dragging {
  transition: none !important;
}
#CoreWrapper.dragging .song_name {
  cursor: grabbing !important;
}
#CoreWrapper .operate_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  padding: 20px;
}
#CoreWrapper .operate_box .left_img {
  width: 85px;
  height: 85px;
  background-size: cover;
  background-position: center;
  user-select: none;
  -webkit-user-select: none;
}
#CoreWrapper .operate_box .right_operate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  padding-left: 10px;
  user-select: none;
}
#CoreWrapper .operate_box .right_operate .song_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
}
#CoreWrapper .operate_box .right_operate .song_name .name {
  width: 120px;
  padding-right: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#CoreWrapper .operate_box .right_operate .song_name .time {
  font-size: 13px;
}
#CoreWrapper .operate_box .right_operate .song_name:hover {
  cursor: grab;
}
#CoreWrapper .operate_box .right_operate .operation_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
#CoreWrapper .operate_box .right_operate .operation_button .iconfont {
  font-size: 22px;
  cursor: pointer;
}
#CoreWrapper .operate_box .slider {
  position: relative;
  height: 20px;
}
#CoreWrapper .operate_box .slider .track,
#CoreWrapper .operate_box .slider .active_track {
  position: absolute;
  height: 6px;
  cursor: pointer;
}
#CoreWrapper .operate_box .slider .track {
  top: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
#CoreWrapper .operate_box .slider .active_track {
  width: 30%;
  background-color: #fff;
}
#CoreWrapper .operate_box .slider .thumb {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  left: 30%;
  background-color: #fff;
  border-radius: 50vh;
}
#CoreWrapper .left_arrow,
#CoreWrapper .right_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1px;
  width: 30px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(90deg, rgba(99, 99, 99, 0.1), rgba(99, 99, 99, 0.1) 1px, transparent 0, transparent), linear-gradient(90deg, hsla(0, 0%, 100%, 0.1) -20%, transparent 15%), linear-gradient(0deg, hsla(0, 0%, 100%, 0.1), transparent 25%);
  border-top: 1px solid hsla(0, 0%, 100%, 0.49411765);
  transition: transform 0.3s;
  cursor: pointer;
}
#CoreWrapper .left_arrow .iconfont,
#CoreWrapper .right_arrow .iconfont {
  font-size: 20px;
}
#CoreWrapper .left_arrow {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.49411765);
}
#CoreWrapper .right_arrow {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.49411765);
}
#CoreWrapper.left {
  transform: translateX(-30px);
}
#CoreWrapper.right {
  transform: translateX(30px);
}
#CoreWrapper.hidden.left {
  transform: translateX(calc(-100% + 30px));
}
#CoreWrapper.hidden.right {
  transform: translateX(calc(100% - 30px));
}
#CoreWrapper .show_list_button {
  position: absolute;
  left: 30px;
  right: 0;
  bottom: 0;
  width: calc(100% - 60px);
  height: 15px;
  text-align: center;
  opacity: 0;
  background-image: linear-gradient(transparent 0%, transparent 70%, #fff 100%);
  transition: opacity 0.3s;
  cursor: pointer;
}
#CoreWrapper .show_list_button:hover {
  opacity: 1;
}
#CoreWrapper .list_box {
  position: absolute;
  top: 100%;
  left: calc(30px + 2.5%);
  width: calc(95% - 60px);
  max-height: 250px;
  padding: 10px 0;
  background-color: hsla(0, 0%, 0%, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, top 0.3s;
  overflow: auto;
  /* webkit */
  /* firefox */
  scrollbar-width: none;
  /* ie */
  -ms-overflow-style: none;
}
#CoreWrapper .list_box::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#CoreWrapper .list_box .empty_tips {
  margin: 10px 0;
  font-weight: 700;
  text-align: center;
}
#CoreWrapper .list_box .song_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 45px;
  padding: 0 20px;
  transition: background-color 0.3s;
}
#CoreWrapper .list_box .song_item .title {
  width: 80%;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}
#CoreWrapper .list_box .song_item .function_button {
  display: flex;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}
#CoreWrapper .list_box .song_item .function_button .iconfont {
  font-size: 20px;
  padding: 0 4px;
}
#CoreWrapper .list_box .song_item.current::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 6px #fff;
}
#CoreWrapper .list_box .song_item:hover {
  background-color: hsla(0, 0%, 100%, 0.13333333);
}
#CoreWrapper .list_box .song_item:hover .function_button {
  opacity: 1;
}
#CoreWrapper .list_box.show {
  top: 110%;
  opacity: 1;
  pointer-events: inherit;
}
