html {
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
}

#CoreWrapper {
  display: flex;
  font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 400px;
  height: 120px;
  color: #fff;
  background-image: linear-gradient(90deg, rgba(99, 99, 99, .1), rgba(99, 99, 99, .1) 1px, transparent 0, transparent), linear-gradient(90deg, hsla(0, 0%, 100%, .1) -20%, transparent 15%), linear-gradient(0deg, hsla(0, 0%, 100%, .1), transparent 25%);
  background-color: rgba(0, 0, 0, .6);
  border-top: 1px solid hsla(0, 0%, 100%, .4941176471);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px hsla(0, 0%, 100%, .15);
  transition: background-color .5s, box-shadow .5s, left .4s, transform .4s;

  &:hover {
    background-color: rgba(0, 0, 0, .8);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

#CoreWrapper {
  &.dragging {
    transition: none !important;
  }

  .operate_box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 10px;

    .left_img {
      width: 85px;
      height: 85px;
      background-size: cover;
      user-select: none;
      -webkit-user-select: none;
    }

    .right_operate {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      flex: 1;
      height: 100%;
      padding-left: 10px;
      user-select: none;

      .song_name {
        font-weight: 700;
      }

      .operation_button {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .iconfont {
          font-size: 22px;
        }
      }
    }

    .slider {
      position: relative;
      height: 20px;
      cursor: pointer;

      .track,
      .active_track {
        position: absolute;
        top: 7px;
        height: 4px;
      }

      .track {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
      }

      .active_track {
        width: 30%;
        background-color: #fff;
      }

      .thumb {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 4px;
        left: 30%;
        background-color: #fff;
        border-radius: 50vh;
      }
    }
  }

  .left_arrow,
  .right_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1px;
    width: 30px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(90deg, rgba(99, 99, 99, .1), rgba(99, 99, 99, .1) 1px, transparent 0, transparent), linear-gradient(90deg, hsla(0, 0%, 100%, .1) -20%, transparent 15%), linear-gradient(0deg, hsla(0, 0%, 100%, .1), transparent 25%);
    border-top: 1px solid hsla(0, 0%, 100%, .4941176471);
    transition: transform .3s;
    cursor: pointer;

    .iconfont {
      font-size: 20px;
    }
  }

  .left_arrow {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid hsla(0, 0%, 100%, .4941176471);
  }

  .right_arrow {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid hsla(0, 0%, 100%, .4941176471);
  }

  &.left {
    transform: translateX(-30px);
  }

  &.right {
    transform: translateX(30px);
  }

  &.hidden {
    &.left {
      transform: translateX(calc(-0% + 30px));
    }

    &.right {
      transform: translateX(calc(0% - 30px));
    }
  }
}