html {
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
}
#CoreWrapper {
  display: flex;
  font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 400px;
  height: 120px;
  color: #fff;
  background-image: linear-gradient(90deg, rgba(99, 99, 99, 0.1), rgba(99, 99, 99, 0.1) 1px, transparent 0, transparent), linear-gradient(90deg, hsla(0, 0%, 100%, 0.1) -20%, transparent 15%), linear-gradient(0deg, hsla(0, 0%, 100%, 0.1), transparent 25%);
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid hsla(0, 0%, 100%, 0.49411765);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px hsla(0, 0%, 100%, 0.15);
  transition: background-color 0.5s, box-shadow 0.5s, left 0.4s, transform 0.4s;
}
#CoreWrapper:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#CoreWrapper * {
  margin: 0;
  padding: 0;
}
#CoreWrapper.dragging {
  transition: none !important;
}
#CoreWrapper .operate_box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
}
#CoreWrapper .operate_box .left_img {
  width: 85px;
  height: 85px;
  background-size: cover;
  user-select: none;
  -webkit-user-select: none;
}
#CoreWrapper .operate_box .right_operate {
  flex: 1;
  height: 100%;
  padding-left: 10px;
  user-select: none;
}
#CoreWrapper .operate_box .right_operate .song_name {
  font-weight: 700;
}
#CoreWrapper .operate_box .right_operate .operation_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#CoreWrapper .left_arrow,
#CoreWrapper .right_arrow {
  position: relative;
  top: -1px;
  width: 30px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(90deg, rgba(99, 99, 99, 0.1), rgba(99, 99, 99, 0.1) 1px, transparent 0, transparent), linear-gradient(90deg, hsla(0, 0%, 100%, 0.1) -20%, transparent 15%), linear-gradient(0deg, hsla(0, 0%, 100%, 0.1), transparent 25%);
  border-top: 1px solid hsla(0, 0%, 100%, 0.49411765);
  transition: transform 0.3s;
  cursor: pointer;
}
#CoreWrapper .left_arrow {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.49411765);
}
#CoreWrapper .right_arrow {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.49411765);
}
#CoreWrapper.left {
  transform: translateX(-30px);
}
#CoreWrapper.right {
  transform: translateX(30px);
}
#CoreWrapper.hidden.left {
  transform: translateX(calc(0% + 30px));
}
#CoreWrapper.hidden.right {
  transform: translateX(calc(0% - 30px));
}
